              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
          
    <script src="{{ static_base }}/js/jquery/jquery.min.js"></script>
    <script src="{{ static_base }}/js/plugins/popper/popper.min.js"></script>
    <script src="{{ static_base }}/js/bootstrap/bootstrap.min.js"></script>
         
    <!-- Add for Alicia theme -->
    <script src="{{ static_base }}/js/plugins/pace/pace.min.js"></script>
    <script src="{{ static_base }}/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="{{ static_base }}/js/alicia.js"></script>
  </body>
</html>
